.footer {
    background-image: url(../img/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__container {
        min-width: 300px;
        max-width: 1600px;
        min-height: 400px;
        color: #fff;
        @include flex-mobile ();
        align-items: flex-start;
        padding: 20px;
        width: 100%;

        @media (min-width:550px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

    }
    &__part {
        padding: 20px 0;
        max-width: 300px;

        @media (min-width:550px) {
            width: 50%;
        }

        &-cover {
            display: none;

            @media (min-width:768px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }

        &-title {
            
            &--item {
                color: $main-orange-color;
                font-size: 16px;
                font-weight: bold;
                line-height: 20px;
                text-transform: uppercase;
                padding: 10px 0;
                
            }
        }
        &-link {
            display: flex;
            padding: 0;

            &:active, &:hover {
                background-color: transparent;
            }

            &--text {
                font-size: 15px;
                font-weight: bold;
                line-height: 20px;
                padding: 10px 0;
                color: #fff;
                cursor: pointer;
                background-color: transparent;

                &:hover {
                    color: $main-orange-color;
                }
            }
        }
        &-copyright {
            display: flex;

            &--text {
                font-size: 14px;
                line-height: 18px;
                padding: 10px 0;
                color: #fff;
            }
        }
    }
    &__form {
        display: flex;
        padding: 15px 0;
    }
    &-icon {
        width: 20px;
        height: 20px;
        margin: 10px 10px 10px 0;
    }
}