.home {
    padding-top: 80px;

    @media (min-width:768px) {
        background-position: center;
        padding-top: 150px;
    }

    &__container {
        height: 400px;

        @media (min-width:992px) {
            height: 600px;
        }
    }
    &__horizon {
        color: #fff;
        position: relative;
    }
}