.horizon {

    &__slider {
        position: relative;
        height: 400px;

        @media (min-width:992px) {
            height: 600px;
        }
    
        &-image {
            position: absolute;
            top: 0;
            left: 0;
            width: max-content;
            height: 100%;
            z-index: 0;
        }
    }
    &__text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 350px;
        z-index: 100;
        max-width: 1600px;
        margin: 0 auto;

        @media (min-width:992px) {
            align-items: flex-start;
            height: 550px;
        }

        &-title {
            font-size: 36px;
            line-height: 40px;
            font-weight: 700;
            text-transform: uppercase;

            @media (min-width:768px) {
                font-size: 60px;
                line-height: 65px;
            }

            @media (min-width:992px) {
                font-size: 90px;
                line-height: 100px;
            }
            &--subtitle {
                font-size: 20px;
                line-height: 25px;
                text-transform: uppercase;

                @media (min-width:768px) {
                    font-size: 30px;
                    line-height: 35px;
                }

                @media (min-width:992px) {
                    font-size: 36px;
                    line-height: 40px;
                }
            }
        }
        &-normal {
            font-size: 14px;
            line-height: 18px;
            text-align: center;

            @media (min-width:992px) {
                font-size: 24px;
                line-height: 28px;
                max-width: 60%;
            }

            @media (min-width:992px) {
                text-align: left;
            }
        }
    }
}