$bg-color: #252129;
$games-bg-color: #18151a;
$text-color-dark-bg: #c0b4ca;
$main-orange-color: #ffb400;
$btn-orange-color: #ff7413;
$main-purple-color: #664480;
$sale-color: #e52f44;
$game-cost-sale-color: #e06076;